*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #fafafa;
    font: 14px Raleway, arial;
    font: 16px 'Source Sans Pro', arial;
    color: #6b6b6b;
}
.top-alg{
	height: 50px;
	background-color:  #f1574d;
	width: 100;
}
.mrg-top{
	margin-top:100px;
}

.h-body{
	height: 100vh;
}
.orange-bg{
	background-color: #f1574d;
}
.orange-txt{
	color: #f1574d;
}
.gray-bg{
	background-color: #313131;
}
.gray-txt{
	color: #313131;
}

.card {
    border: 1px solid #cfd8dc;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    position: relative;
    margin: 15px 0;
    transition: all .3s;
    background-color: white
}

/* ===================.card:hover{
  box-shadow: 0px 1px 3px rgba(0,0,0,.4);
} */

.title{
	display: inline-block;
	font-weight: bold;
	margin-left: 15px;
}
.card .head{
	padding: 30px 10px; 
	border-bottom: 1px solid lightgray;
	font-size: 1.3em;
}
.content{
	padding: 10px 15px; 
}
.content li {
    list-style-type: none;
    margin: 15px 0;
    transition: all .3s;
    display: flex;
}
.content li:hover{
	cursor: pointer;
	color: #f1574d;
}
li .icon {
    margin-right: 10px;
    transition: all .3s;
    border: 1px solid transparent;
    padding: 7px 6px 5px 6px;
    border-radius: 50%;
    display: table;
    color: #f1574d;
    margin-top: -5px;
}
/* .content li:hover > .icon{
    margin-right: 15px;
    color: gray;
    border: 1px solid white;
}
 */

#custom-search-input {
    margin:0;
    margin: 5px 0;
    padding: 0;


}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    width: 100%;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	color: white;
    height: 45px;
}
#custom-search-input .search-query {
    padding: 0px 9px 0; 
    width: 100%;
    color: black;
    height: 50px;
    margin-top: 10px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color:gray;
}
.input-group-btn {
    position: absolute;
    font-size: 0;
    white-space: nowrap;
    background-color: transparent;
    right: 0;
    top: 22px;
    z-index: 999;
    color: white;
}
.search-query:focus + button {
    z-index: 3;   
}

/* Search Section */
.search .card{
	margin: 15px 0;
	padding: 10px;
}
#custom-search-input button span {
	color: gray;
}
#custom-search-input ::-webkit-input-placeholder {
   color: gray !important;
}

#custom-search-input :-moz-placeholder { /* Firefox 18- */
   color: gray !important;  
}

#custom-search-input ::-moz-placeholder {  /* Firefox 19+ */
   color: gray !important;  
}

#custom-search-input :-ms-input-placeholder {  
   color: gray !important;  
}
#custom-search-input .form-control:focus {
    border-color: #ffffff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px gray;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px gray;
}
#custom-search-input .input-group[class*="col-"] {
    float: none;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}
/* Card Status */
.status-head{
	font-size: 26px;
	font-weight: 300;
	margin: 10px 0;
}
.card-status li {
    list-style-type: none;
    margin-left: 10px;
    display: flex;
    padding: 14px 22px 14px 0;
}
.card-status > ul > li{
	font-weight: 600;
	margin-top: 25px;
	margin-bottom:10px;
}
.card-status > ul > li:before {
    content: " ";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #f1574d;
    margin-right: 19px;
    display: inline-block;
    margin-left: -2px;
}
.card-status > ul ul > li:before {
    content: " ";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #f1574d;
    margin-right: 19px;
    display: inline-table;
    margin-left: -2px;
    margin-top: 3px;
    border: 4px solid #ffffff;
    z-index: 999;
    transition: all .3s;
}
.card-status > ul{
	position: relative;
}
.card-status > ul:before {
    content: " ";
    border-left: 2px solid #f1574d;
    position: absolute;
    height: 93%;
    left: 14.5px;
    z-index: 0;
    top: 16px;
}
.card-status, .content {
    padding-bottom: 60px;
}
.card-status > ul ul > li:hover{
	transition: all .3s;
    cursor: pointer;
}
.card-status > ul ul > li:hover:before {
    border: 1px solid #ffffff;
}
@media screen and (max-width: 992px){
	.mrg-top {
	    margin-top: 10px;
	}
	.card-status > ul:before {
	    left: 13.5px;

	}
}